// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '../themes/bootstrap-cosmo';
//FontAwesome
@import url('~@fortawesome/fontawesome-free/css/all.css');

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* * * * * * * * * * * * * * * *
*                              *
*     StuCo App CSS            *
*     @author Blake Nahin      *
*                              *
* * * * * * * * * * * * * * * * */

body {
  background-color: #f0f0f0;
}

/** Home **/
#new-activity-card {
  border-top: 3px solid #43da43;
}

#clock-in-card {
  border-top: 3px solid #7c43da;
}

#clock-in-table {
  text-align: center;
}

/** Hours Page **/
#stats {
  margin-bottom: 8px;
}

#hours-card {
  border-top: 3px solid #f780ff;
}

/** Admin Page **/
#admin-card {
  border-top: 3px solid #ec6c6c;
  min-height: 80vh;
}

#adm-nav-col {
  background-color: #e6e6e6;
  border-right: 2px solid #adadad;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  //height: 80vh;
}

#admin-nav {
  padding: 15px;
  line-height: 40px;
  a {
    color: #474851;
    &:hover, &:focus {
      color: black;
    }
    &.active {
      color: #2780E3;
    }
  }
  li {
    border-bottom: 1px solid #ccc;
  }
}