// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '../themes/bootstrap-cosmo';
//FontAwesome
@import url('~@fortawesome/fontawesome-free/css/all.css');
//Switches
@import "switches";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* * * * * * * * * * * * * * * *
*                              *
*     StuCo App CSS            *
*     @author Blake Nahin      *
*                              *
* * * * * * * * * * * * * * * * */

/** General **/
html {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  padding-bottom: 110px;
  position: relative;
  min-height: 100%;
}

.ecr-logo {
  display: block;
  margin: auto;
  width: 100px;
}

.btn-hide, .btn-hide:hover, .btn-hide:active, .btn-hide:focus {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  cursor: default;
  display: none;
}

.input-invalid {
  border-color: #dc3545;
}

.nav-link {
  transition: all 0.35s;
}

.toggle-handle {
  background-color: white;
}

.card, .badge {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

/** Alerts **/
alert.alert-success {
  border-left: 3px solid #215f0c80;
}

/** Navbar **/
.nav-item.active > .nav-link {
  background-color: rgba(0, 0, 0, .1);
}

/** Club Select **/
.container#club-select > .card {
  width: 100%;
  max-width: 500px;
  margin: auto;

  #join-code {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

#clubselect-logout {
  color: red;
  &:hover {
    text-decoration: none;
    color: #a21a00;
  }
}

/** Home **/
#new-activity-card {
  border-top: 3px solid #43da43;
}

#clock-out-card {
  border-top: 3px solid #7c43da;
}

#clock-out-table {
  text-align: center;
}

#loading-student {
  margin-top: 35px;
}

#new-activity-submit, #clock-out-submit {
  width: 180px;
}

/** Hours Page **/
#stats {
  margin-bottom: 8px;
}

#hours-card {
  border-top: 3px solid #f780ff;
}

/** Admin Pages **/
#admin-card {
  border-top: 3px solid #ec6c6c;
  min-height: 650px;
}

#adm-nav-col {
  background-color: #e6e6e6;
  border-right: 2px solid #adadad;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  //height: 80vh;
}

#admin-nav {
  padding: 15px;
  line-height: 40px;
  a {
    color: #474851;
    &:hover, &:focus {
      color: black;
    }
    &.active {
      color: #2780E3;
    }
  }
  li {
    border-bottom: 1px solid #ccc;
  }
  .nav-header {
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
  }
  .no-bottom {
    border-bottom: none !important;
  }
}

#blocked-info, #events-info {
  margin-bottom: 6px;
}

.swal-btn-danger {
  background-color: #d33333;
  &:hover {
    background-color: #f22f2f;
  }
  &:active {
    background-color: #b91616;
  }
}

/**
Edit Timepunch
 */
#edit-hour-form, #create-hour-form {
  margin: auto;
  width: 40rem;
}

#start-end-time-col, #start-end-time-col-new {
  padding-left: 29px;
  .clockpicker, .clockpicker-new {
    display: inline-block;
    .form-control {
      width: 100% !important;
    }
  }
}

/** System Log Page **/
.bg-by-admin {
  background-color: #FF00871A !important;
}

.bg-clockin {
  background-color: #3F03 !important;
}

.bg-clockout {
  background-color: #00A5FF33 !important
}

/**
Footer
 */
footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #dbdbdb;
  padding: 15px;
  color: #727272;
  border-top: 2px solid #ccc;
  a:hover {
    text-decoration: none;
  }
  #footer-logo {
    height: 80px;
    display: block;
    margin: auto;
  }
}
/**
Announcements
 */
.post-actions {
  float: right;
}
.bg-dev {
  background-color: #18FFB51A !important;
}