// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '../themes/bootstrap-cosmo';
//FontAwesome
@import url('~@fortawesome/fontawesome-free/css/all.css');

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* * * * * * * * * * * * * * * *
*                              *
*     StuCo App CSS            *
*     @author Blake Nahin      *
*                              *
* * * * * * * * * * * * * * * * */

/** General **/
body {
  background-color: #f0f0f0;
}

.input-invalid {
  border-color: #dc3545;
}

/** Home **/
#new-activity-card {
  border-top: 3px solid #43da43;
}

#clock-in-card {
  border-top: 3px solid #7c43da;
}

#clock-in-table {
  text-align: center;
}

/** Hours Page **/
#stats {
  margin-bottom: 8px;
}

#hours-card {
  border-top: 3px solid #f780ff;
}

/** Admin Pages **/
#admin-card {
  border-top: 3px solid #ec6c6c;
  min-height: 85vh;
}

#adm-nav-col {
  background-color: #e6e6e6;
  border-right: 2px solid #adadad;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  //height: 80vh;
}

#admin-nav {
  padding: 15px;
  line-height: 40px;
  a {
    color: #474851;
    &:hover, &:focus {
      color: black;
    }
    &.active {
      color: #2780E3;
    }
  }
  li {
    border-bottom: 1px solid #ccc;
  }
  .nav-header {
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
  }
  .no-bottom {
    border-bottom: none !important;
  }
}

#blocked-info {
  margin-bottom: 6px;
}

.swal-btn-danger {
  background-color: #d33333;
  &:hover {
    background-color: #f22f2f;
  }
  &:active {
    background-color: #b91616;
  }
}

/**
Edit Timepunch
 */
#edit-hour-form {
  margin: auto;
  width: 40rem;
}

#start-end-time-col {
  padding-left: 29px;
  .clockpicker {
    display: inline-block;
    .form-control {
      width: 100% !important;
    }
  }
}